.sidebar {
  position: relative;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar:hover {
  background-color: rgba(92, 93, 93, 0.5);
}

.sidebar:hover svg {
  fill: #bbbbbb; /* Изменяет цвет fill у SVG */
  transition: fill 0.3s ease; /* Анимация для fill */
}

.base {
  padding-top: 5px;
  padding-bottom: 5px;
}

