.active {
  background-color:#ffffff;
  height:4.6280999183654785px;
  width:6.081090927124023px;
  left:15.102032661437988px;
  top:2.3719000816345215px;
  position:absolute;
}

.base {
  background-color:#a1a1a1;
  height:4.62809944152832px;
  width:6.081090927124023px;
  left:15.102032661437988px;
  top:9px;
  position:absolute;
}