.mainBlock {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* margin-top: 50px; */
}

.bottomBlock {
  z-index: 1000;
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 20px; */
  width: 100%;
  padding: 10px 50px;  
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(50px);
}


.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  box-sizing: border-box;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  width: 500px;
  padding-right: 10px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  /* margin-top: 30px; */
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.inputContainer {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #555557;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 80%;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 50px
;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #bdb8b9;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 12px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #bdb8b9;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.address {
  color: rgb(146, 145, 143);
  font-size: 13px;
}