/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	text-decoration: none;
  cursor: default;
}

html, body {
  margin: 0px;
  padding: 0px;
}

button { 
	all: unset; 
	display: inline-block; 
}
a {
  text-decoration: none;  /* Убирает подчеркивание */
  color: inherit;         /* Убирает цвет (сделает ссылку того же цвета, что и текст) */
  outline: none;          /* Убирает обводку при фокусе */
  border: none;           /* Убирает любые границы */
  background: none;       /* Убирает фон */
  padding: 0;             /* Убирает внутренние отступы */
  margin: 0;              /* Убирает внешние отступы */
  cursor: pointer;       /* Устанавливает курсор в виде указателя */
}

:root {
  /* text font and size  */
  --text: Arial;

  /* colors */
  --bg-main-color: #040404;
  --sidemenu-color: #2a272a;
  --mainwindow-color: #2a272a;
  --text-color: #5b5b5b;
  --form-background-color: #393636;;

  /* sizes */
  --main-frame-width: 100vw;
  --main-frame-height: 100vh;
  --sidebar-width-open: 160px;
  --sidebar-width-close:45px;
  --main-window-width: calc(100% - var(--sidebar-width-close));
  --icon-width: 35px;
  --icon-height: auto;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: var(--text-color);
  font-weight:400;
  text-decoration: none;
  font-style: normal;
  /* font-size: calc(10px + 1vw);; */
  font-variant: small-caps;
  text-transform: none;
  background-color: #040404;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #040404;
  padding: 5px
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  opacity: 0; /* Скрыть скроллбар по умолчанию */
  transition: opacity 0.3s ease;
}

/* Настройки для ползунка */
::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}